.AboutTeamBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 398px;
}

.MemberCardBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    height: 350px;
    width: 300px;
    box-shadow: 1px 0px 10px gray;
    border-radius: 10px;
    margin-right: 5%;
    margin-left: 5%;
}

.ProfilePhotoBody{
    border:2px solid gray;
    height: 150px;
    width: 140px;
    border-radius: 75px;
    box-shadow: 1px 0px 10px gray;
    margin-bottom: 7%;
}

.ProfilePhoto{
    height: 100%;
    width: 100%;
    mask: 100%;
    border-radius: 75px;
}


.ProfileData{
    text-align: left;
}

th{
    width: 75px;
}